<%- include("partials/header") %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="text-center">
        Something went wrong
      </h2>
    </div>
  </div>
</div>
<%- include("partials/footer") %>