<% errorMessages.forEach(message => { %>
  <p class='alert alert-danger'><%= message %>  </p>
<% }) %>
<% successMessages.forEach(message => { %>
  <p class='alert alert-success'><%= message %>  </p>
<% }) %>