<% errorMessages.forEach(message=> { %>
<div class="alert alert-danger alert-dismissible">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% }) %>

<% successMessages.forEach(message=> { %>
<div class="alert alert-success alert-dismissible">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% }) %>